<!DOCTYPE html>
<html>
<head>
    <title>Story 3 PPW</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'YokBisaYok/story03.css' %}">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="container">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Home</li>
            <li class="list-group-item">About</a></li>
            <li class="list-group-item">Experience</a></li>
            <li class="list-group-item">Skills</a></li>
            <li class="list-group-item">More Info</a></li>
        </ul>
    </div>
    <div class="row align-items-center">
            <div class="col-1"></div>
            <div id="konten" class="row col-10">
                <img class="col-4" src="https://scontent.fcgk4-4.fna.fbcdn.net/v/t1.0-9/14316841_193496831071820_4588064962311323356_n.jpg?_nc_cat=103&_nc_oc=AQmb6olc5vSwFNmTA1h5tdCM2gY_YD893Yo1WcStJOxTMJ7yndHF54ufjwXdxnw0Yww&_nc_ht=scontent.fcgk4-4.fna&oh=065cf30a48e28a4a075d9cb146d8cc73&oe=5E4DA5C3"/>
                <div class="col-6 row align-items-center">
                    <h1 id="Fad">
                        About Me
                    </h1>
                    <h1>
                        Saya adalah mahasiswa Ilmu komputer di Universitas Indonesia angkatan 2018. Saya ingin mendalami Security and Hacking. Hobi saya main game dan menonton film.
                    </h1>
                </div>
            </div>
            <div class="col-1"></div>
    </div>
    
</body>
</html>