<!DOCTYPE html>
<html>
<head>
    <title>Story 3 PPW</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'YokBisaYok/story03.css' %}">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="container">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Home</li>
            <li class="list-group-item"><a href="about">About</a></li>
            <li class="list-group-item">Experience</a></li>
            <li class="list-group-item">Skills</a></li>
            <li class="list-group-item">More Info</a></li>
        </ul>
    </div>
    <div class="text-center">
        <h1 id="Fad">
            Hello! I'm Fadhlan.
        </h1>
        <h1>
            Welcome to My Site.
        </h1>
    </div>
</body>
</html>